* {
	border: none;
	border-radius: 0;
	font-family: IosevkaTermSlab Nerd Font Mono;
	font-size: 14px;
	min-height: 24px;
}

@define-color light-purple #ecc7fc;
@define-color dark-purple #140d1c;
@define-color light-green #51ad7f;
@define-color red #bf2206;
@define-color dark-blue #0c4a57;
@define-color light-blue #549ede;
@define-color dark-wine #4E0415;
@define-color dark-amaranth #7C263A;
@define-color dark-slate-grey #243E42;


window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 26px;
	transition: none;
    color: transparent;
	background: transparent;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #e6e6e6;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 26px;
	background: @light-purple;
	transition: none;
}

#workspaces button {
	transition: none;
	color: @dark-purple;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: @light-purple;
    background: @dark-purple;
	border-radius: 26px;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#mpris {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	background: @light-purple;
	transition: none;
	color: @dark-purple;
}

#mpris.disconnected,
#mpris.stopped {
	color: #f8f8f2;
	background: #1E2130;
}

#disk {
	font-weight: 600;
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 7px;
	transition: none;
	background: @dark-amaranth;
	color: @light-blue;
}

#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 7px;
	transition: none;
	background: @light-blue;
	color: @dark-purple;
}

#pulseaudio {
	font-weight: 600;
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 7px;
	transition: none;
	background: @light-blue;
	color: @dark-purple;
}


#cpu {
	font-weight: 600;
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 4px;
	margin-bottom: 0;
	border-radius: 7px 0 0 7px;
	transition: none;
	background: @light-blue;
	color: @dark-purple;
}
#temperature {
	font-weight: 600;
	margin-top: 8px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 0 7px 7px 0;
	transition: none;
	background: @light-blue;
	color: @dark-purple;
}

#memory {
	font-weight: 600;
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 7px;
	transition: none;
	background: @light-blue;
	color: @dark-wine;
}

#clock {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 7px;
	transition: none;
	background: #1E2130;
	color: #AD718E;
}

#battery {
	font-weight: 600;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 16px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 7px;
	transition: none;
	background: #1E2130;
	color: #A8C49C;
}

