* {
	border: none;
	border-radius: 0;
	font-family: JetBrainsMonoNerdFont;
	font-size: 14px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 26px;
	transition: none;
	/*
    color: #f8f8f2;
	background: #282a36;
    */
    color: transparent;
	background: transparent;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #e6e6e6;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #1E2130;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: #9aedfe;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#mpd {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	background: #282a36;
	transition: none;
	color: #4d4d4d;
	background: #1E2130;
}

#mpd.disconnected,
#mpd.stopped {
	color: #f8f8f2;
	background: #1E2130;
}

#disk {
	font-weight: 600;
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 7px;
	transition: none;
	background: #1E2130;
	color: #96BA7B;
}

#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 7px;
	transition: none;
	background: #1E2130;
	color: #bd93f9;
}

#pulseaudio {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 7px;
	transition: none;
	background: #1E2130;
	color: #9aedfe;
}


#cpu {
	font-weight: 600;
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 4px;
	margin-bottom: 0;
	border-radius: 7px 0 0 7px;
	transition: none;
	background: #1E2130;
	color: #9BB193;
}
#temperature {
	font-weight: 600;
	margin-top: 8px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 0 7px 7px 0;
	transition: none;
	background: #1E2130;
	color: #9BB193;
}

#memory {
	font-weight: 600;
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 7px;
	transition: none;
	background: #1E2130;
	color: #ff6e67;
}

#clock {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 7px;
	transition: none;
	background: #1E2130;
	color: #AD718E;
}

#battery {
	font-weight: 600;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 16px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 0;
	border-radius: 7px;
	transition: none;
	background: #1E2130;
	color: #A8C49C;
}

